<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://bqmayq5x95g1sgr9.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/pfxjxp8cckb6zimh</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>vj31g2mreh6ibem9</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>ka87beb2umkohetq</param-value>
    </context-param>
    <listener>
        <listener-class>Dbconnecti0n.JdbcConnection</listener-class>
    </listener>
     <listener>
        <listener-class>Operations.UpdateDbConnection</listener-class>
    </listener>
    <servlet>
        <servlet-name>WoodInsertServlet</servlet-name>
        <servlet-class>Allservlets.WoodInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInsertServlet</servlet-name>
        <servlet-class>Allservlets.CustomerInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WoodViewServlet</servlet-name>
        <servlet-class>Allservlets.WoodViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerViewServlet</servlet-name>
        <servlet-class>Allservlets.CustomerViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WoodDeleteServlet</servlet-name>
        <servlet-class>Allservlets.WoodDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDeleteServlet</servlet-name>
        <servlet-class>Allservlets.CustomerDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Allservlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminForgotPassword</servlet-name>
        <servlet-class>Allservlets.AdminForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Allservlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutServlet</servlet-name>
        <servlet-class>Allservlets.SignoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerEditServlet</servlet-name>
        <servlet-class>Allservlets.CustomerEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeasureInsertSerrvlet</servlet-name>
        <servlet-class>Allservlets.MeasureInsertSerrvlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeasureDetailViewServlet</servlet-name>
        <servlet-class>Allservlets.MeasureDetailViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeasureMainViewServlet</servlet-name>
        <servlet-class>Allservlets.MeasureMainViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportMeasure</servlet-name>
        <servlet-class>ReportMeasure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report1</servlet-name>
        <servlet-class>Allservlets.Report1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WoodEditServlet</servlet-name>
        <servlet-class>Allservlets.WoodEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeasureDetailEditServlet</servlet-name>
        <servlet-class>Allservlets.MeasureDetailEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroView</servlet-name>
        <servlet-class>AndroServlets.AndroView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAndro</servlet-name>
        <servlet-class>AndroServlets.InsertAndro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAndroid</servlet-name>
        <servlet-class>AndroServlets.InsertAndroid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report2</servlet-name>
        <servlet-class>Allservlets.Report2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WoodInsertServlet</servlet-name>
        <url-pattern>/WoodInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInsertServlet</servlet-name>
        <url-pattern>/CustomerInsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WoodViewServlet</servlet-name>
        <url-pattern>/WoodViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerViewServlet</servlet-name>
        <url-pattern>/CustomerViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WoodDeleteServlet</servlet-name>
        <url-pattern>/WoodDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDeleteServlet</servlet-name>
        <url-pattern>/CustomerDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminForgotPassword</servlet-name>
        <url-pattern>/AdminForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutServlet</servlet-name>
        <url-pattern>/SignoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerEditServlet</servlet-name>
        <url-pattern>/CustomerEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeasureInsertSerrvlet</servlet-name>
        <url-pattern>/MeasureInsertSerrvlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeasureDetailViewServlet</servlet-name>
        <url-pattern>/MeasureDetailViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeasureMainViewServlet</servlet-name>
        <url-pattern>/MeasureMainViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report1</servlet-name>
        <url-pattern>/Report1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WoodEditServlet</servlet-name>
        <url-pattern>/WoodEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeasureDetailEditServlet</servlet-name>
        <url-pattern>/MeasureDetailEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroView</servlet-name>
        <url-pattern>/AndroView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAndro</servlet-name>
        <url-pattern>/InsertAndro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAndroid</servlet-name>
        <url-pattern>/InsertAndroid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report2</servlet-name>
        <url-pattern>/Report2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
